<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<!-- Spinner de carregamento -->
<div *ngIf="loading" class="loading-spinner">
  <i class="fas fa-spinner fa-spin"></i> Carregando...
</div>

<!-- Exibir o conteúdo do componente somente quando o carregamento for concluído -->
<div *ngIf="!loading">
  <div class="menu-list-container">
    <h1>Menu da Empresa</h1>
    <button (click)="navigateToMenuRegister()">Cadastrar Novo Item</button>

    <div *ngIf="menus.length > 0">
      <div *ngFor="let categoria of getCategorias(menus)" class="categoria-section">
        <h2>{{ categoria }}</h2>
        <div *ngFor="let menu of getMenuByCategoria(menus, categoria)" class="menu-item">
          <div class="menu-details">
            <h3>{{ menu.nome }}</h3>
            <p>{{ menu.descricao }}</p>
            <p>Preço: R$ {{ menu.preco }}</p>
            <div class="menu-actions">
              <button (click)="editMenu(menu.id)">Editar</button>
              <button (click)="deleteMenu(menu.id)">Excluir</button>
            </div>
          </div>
          <div class="menu-image">
            <img *ngIf="menu.imagemBase64" [src]="'data:image/png;base64,' + menu.imagemBase64" alt="{{ menu.nome }}" />
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="menus.length === 0">Nenhum item encontrado.</div>
  </div>
</div>
