/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais */
body {
  font-family: 'TAN Tangkiwood', serif;
  line-height: 1.6;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.container {
  margin-top: 200px; /* Adiciona uma margem superior para desgrudar do topo */
  width: 100%;
  max-width: 400px; /* Largura máxima do formulário */
  padding: 20px; /* Espaço interno do formulário */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para dar destaque */
  margin-left: auto;
  margin-right: auto; /* Centraliza horizontalmente */
}

.logo img {
  width: 100%;
  max-height: 150px;
  max-width: 300px;

}


h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-group button {
  background:rgb(0, 120, 32);
  color: #fff;
  border: 0;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.form-group button:hover {
  background:rgb(4, 140, 41);
}

/* Estilo para o link de cadastro */
.register-link {
  text-align: center;
  margin-top: 20px;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.register-link a:hover {
  text-decoration: underline;
}
