<div class="container">
  <div class="logo">
    <img src="assets/logocomandafacil.jpg" alt="ComandaFácil Logo"> 
  </div>
  <main>
    <section>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Usuário:</label>
          <input type="email" id="email" name="email" [(ngModel)]="credentials.username" required>
        </div>
        <div class="form-group">
          <label for="senha">Senha:</label>
          <input type="password" id="senha" name="senha" [(ngModel)]="credentials.password" required>
        </div>
        <div class="form-group">
          <button type="submit">Entrar</button>
        </div>
      </form>
      <!-- Exibe a mensagem de erro caso exista -->
      <p *ngIf="errorMessage" style="color:red;">{{ errorMessage }}</p>
    </section>
    
    <!-- Link para cadastro -->
    <div class="register-link">
      <p>Não tem uma conta? <a [routerLink]="['/register-user']">Cadastre-se aqui</a></p>
    </div>
  </main>
</div>
